<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.41" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="xdelta3.net" version="1.0.1" targetFramework="net45" />
  <package id="xdelta3.net.redist.linux.x64" version="1.0.1" targetFramework="net45" />
  <package id="xdelta3.net.redist.windows.x64" version="1.0.1" targetFramework="net45" />
</packages>